// These colors are specific to the theme. Do not use in a package!
@grey: #a2aabc;
@light-grey: #8695b7;
@dark-grey: darken(@light-grey, 10%);
@darker-grey: #2f3b54;
@darkest-grey: #2f3b54;

@navy: #1d2433;
@accent-yellow: #ffcc66;
@cyan: #5ccfe6;
@blue: #5ccfe6;
@purple: #c3a6ff;
@green: #bae67e;
@red: #ef6b73;
@orange: #ffae57;
@yellow: #ffd580;
@seafoam: #95e6cb;
